* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    
}

.header-container {
    max-width: 1920px;
    background-color: #0020F4;
    margin: 0 auto;
    padding: 0 16px;
    height: 388px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1475px;
    margin: 0 auto;
}

.navbar-ul {
    display: flex;
    gap: 42px;
    margin-top: 40px;
    
}

.navbar-li {
    color: #FFFFFF;
}

.contact {
    background-color: #FFFFFF;
    color: #171717;
    padding: 18px 43px; 
    border-radius: 28px;
}

.main {
    border-bottom:2px solid rgba(255,255,255,100%);
}

.logo {
    flex: 0 0 auto;
    margin-top: 40px;
    
}

.first-image {
    max-width: 1195px; 
    width: 100%; 
    display: block;
    margin: 0 auto; 
    margin-top: -150px;
    
}

.section-container {
    max-width: 1475px; 
    margin: 0 auto; 
}

h1 {
    color:#171717;
    font-weight: 900;
    margin-top:30px;
    margin-bottom:60px;
    font-size:24px;
    margin-left: calc((90% - 1195px) / 2);
}

article {
    margin-left: calc((100% - 1195px) / 2);
}

img:first-child {
    margin-left: 0;
}

.small-images {
    max-width: 219px;
    margin: 0 10px; 
}

p:first-child {
    font-size:16px;
    margin-top:60px;
    margin-bottom:18px;
}

p:nth-child(2){
    margin-bottom:18px;
}

p:nth-child(3){
    margin-bottom:58px;
}

p {
    margin-right: calc((125% - 1195px) / 2);
    margin-left: calc((105% - 1195px) / 2);
}

h3{
    font-size:16px;
    margin-left: calc((160% - 1195px) / 2);
    background-color:#0020F4;
    border-radius:28px;
    color:#FFFFFF;
    margin-bottom:180px;
    padding: 18px 43px;
    display: inline-block;
}

