* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.header-container {
    max-width: 1920px;
    background-color: #0020F4;
    margin: 0 auto;
    padding: 0 16px;
    height: 388px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 1475px;
    margin: 0 auto;
}

.navbar-ul {
    display: flex;
    gap: 42px;
    margin-top: 40px;
    
}

.navbar-li {
    color: #FFFFFF;
}

.contact {
    background-color: #FFFFFF;
    color: #171717;
    padding: 18px 43px; 
    border-radius: 28px;
}

.logo {
    flex: 0 0 auto;
    margin-top: 40px;
    
}

.first-image {
    max-width: 1195px; 
    width: 100%; 
    display: block;
    margin: 0 auto; 
    margin-top: -150px;
    
}

.section-container {
    max-width: 1475px; 
    margin: 0 auto; 
}